  <div class="col-md-6
  ">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Mark" name="first_name" value="{{this.first_name}}" required>
      <label for="floatingInput">First Name</label>
      <div class="invalid-feedback">
        Please enter First Name.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Otto" name="last_name" value="{{this.last_name}}" required>
      <label for="floatingInput">Last Name</label>
       <div class="invalid-feedback">
        Please enter Last Name.
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="email@email.com" name="email" value="{{this.email}}" required>
      <label for="floatingInput">Email</label>
       <div class="invalid-feedback">
        Please enter Email.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-floating mb-3">
      <input type="tel" class="form-control" id="floatingInput" placeholder="Phone" name="phone" value="{{this.phone}}" required>
      <label for="floatingInput">Phone</label>
       <div class="invalid-feedback">
        Please enter Phone.
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-floating mb-3">
      <textarea class="form-control" id="floatingInput" placeholder="Comments" name="comments" style="height:200px">{{this.comments}}</textarea>
      <label for="floatingInput">Comments</label>
    </div>
  </div>

  <div class="col-12 d-grid">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
