<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">View User</li>
  </ol>
</nav>

<!-- this.id and this.first_name... väärtused tulevad row lugemisest databaasist -->
<div class="view-user m-5">
  {{#each rows}}
    <div class="row mb-5">
      <div class="col text-center"> 
        <h3>{{this.first_name}} {{this.last_name}}</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{this.email}}</td>
              <td>{{this.phone}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row mt-4 mb-2 justify-content-center">
        <div class="col-6">
          <h3>Comments</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
          {{this.comments}}
        </div>
      </div>

    </div>

  {{/each}}
</div>